.idea/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.plan
events/
terraform.auto.tfvars
.terraform.lock.hcl
*.swp
.terraform
package-lock.json
*.pem
node_modules
.DS_Store
